!/examples/image_example1.yzlite.zip
!/examples/audio_example1.yzlite.zip
!/examples/autoencoder_example.yzlite.zip
!/yizhutech/keyword_spotting_on_off.yzlite.zip
!/yizhutech/keyword_spotting_on_off_v2.yzlite.zip
!/yizhutech/keyword_spotting_on_off_v2.teacher.h5
!/yizhutech/keyword_spotting_mobilenetv2.yzlite.zip
!/yizhutech/keyword_spotting_with_transfer_learning.yzlite.zip
!/yizhutech/rock_paper_scissors.yzlite.zip
!/yizhutech/fingerprint_signature_generator.yzlite.zip
!/yizhutech/keyword_spotting_pacman.yzlite.zip
!/yizhutech/keyword_spotting_pacman_v2.yzlite.zip
!/yizhutech/keyword_spotting_pacman_v2.teacher.h5
!/yizhutech/keyword_spotting_pacman_v3.yzlite.zip
!/yizhutech/keyword_spotting_alexa.yzlite.zip
!/yizhutech/keyword_spotting_alexa_v2.yzlite.zip
!/tflite_micro/tflite_micro_magic_wand.yzlite.zip
!/tflite_micro/tflite_micro_speech.yzlite.zip
!/tinyml/anomaly_detection.yzlite.zip
!/tinyml/image_classification.yzlite.zip
!/tinyml/keyword_spotting.yzlite.zip
!/tinyml/visual_wake_words.yzlite.zip